$color_black: black;
$color_white: #fff;
$color_gold: rgba(244, 197, 66, 0.75);
$color_grey: #333333;
$font-family_1: komet, sans-serif;
$font-family_2: komet-sc;


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-style: none;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
	font-family: $font-family_1;
}
.logo {
	width: 200px;
	height: 80px;
	object-fit: cover;
	&:hover {
		color: $color_white;
		scale: 1.05;
		transition: 0.3s;
	}
}
h1 {
	font-size: 122px;
	font-weight: bolder;
	font-family: $font-family_2;
	line-height: 60%;
	letter-spacing: -10px;
}
h2 {
	font-size: 56px;
	font-weight: bold;
	line-height: 60%;
	letter-spacing: -5%;
	margin-top: 7vh;
	font-family: $font-family_2;
}
h3 {
	font-size: 32px;
	font-weight: 600;
	line-height: 100%;
	letter-spacing: -1px;
	margin-bottom: 20px;
	font-family: $font-family_2;
}
p {
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
}
button {
	font-size: 20px;
}
body {
	background-color: $color_white;
	transform-style: preserve-3d;
	overflow-x: hidden;
}
header {
	width: 80%;
	border-radius: 30px;
	padding: 0PX 10PX;
	max-width: 1300px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	z-index: 9999;
	background-color: $color_gold;
	position: fixed;
	top: 20px;
	left: 0;
	right: 0;
	position: sticky;
	li {
		a {
			&:hover {
				color: $color_white;
				border-radius: 40px;
				scale: 1.1;
				transition: 0.3s;
			}
		}
	}
}
.hamburger {
	display: none;
	display: none;
}
.nav-bar {
	ul {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		li {
			a {
				display: block;
			}
		}
	}
	li {
		a {
			height: 100%;
			padding: 0px 20px;
			display: flex;
			align-items: center;
			color: $color_black;
			font-size: 18px;
			font-weight: bold;
			text-align: center;
		}
	}
}
nav {
	li {
		height: 100%;
		&:first-child {
			margin-right: auto;
		}
	}
}
.nav-bar.active {
	height: 500px;
	z-index: 9999;
	ul {
		opacity: 1;
	}
}